In [106]:
import pandas as pd
import numpy as np
import math

In [107]:
def data_excel(data):
    xls = pd.read_csv(data)
    return xls

In [108]:
df = data_excel('https://github.com/sanding28/KNN-AI/raw/main/mobil.csv')
df

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama Mobil          17 non-null     object
 1   Ukuran              17 non-null     int64
 2   Kenyamanan          17 non-null     int64
 3   Irit                17 non-null     int64
 4   Kecepatan           17 non-null     int64
 5   Harga (Ratus Juta)  17 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 944.0+ bytes

In [110]:
#Input data test
print("Masukan Kriteria Mobil yang diinginkan :")
Ukuran = float(input("Ukuran: "))
Kenyamanan = float(input("Kenyamanan: "))
Irit = float(input("Irit: "))
Kecepatan = float(input("Kecepatan: "))
Harga = float(input("Harga: "))

datatest = {'Ukuran':[Ukuran],'Kenyamanan':[Kenyamanan],'Irit':[Irit],'Kecepatan':[Kecepatan], 'Harga (Ratus Juta)':[Harga]}
datatest = pd.DataFrame(datatest)

Masukan Kriteria Mobil yang diinginkan :
Ukuran: 6
Kenyamanan: 5
Irit: 8
Kecepatan: 5
Harga: 3.0

In [111]:
#Fungsi Rumus menghitung jarak Euclidean
def euclidean_distance(data, datatest):
    disteuc = 0 
    for col in data.items():
      nama_column = col[0]
      value_column = col[1]
      if not nama_column == 'Nama Mobil':
        valueDatatest = datatest[nama_column][0]
        disteuc += (value_column - valueDatatest)**2 

    return (data["Nama Mobil"], math.sqrt(disteuc)) 

#Fungsi Rumus menghitung jarak Manhattan
def manhattan_distance(data, datatest):
    distmanh = 0 # ini ganti
    for col in data.items():
      nama_column = col[0]
      value_column = col[1]
      if not nama_column == 'Nama Mobil':
        valueDatatest = datatest[nama_column][0]
        distmanh += (value_column - valueDatatest) 

    return (data["Nama Mobil"], np.fabs(distmanh)) 

#Fungsi Rumus menghitung jarak Minkowski
def minkowski_distance(data, datatest, t):
    distmink = 0 # ini ganti
    for col in data.items():
      nama_column = col[0]
      value_column = col[1]
      if not nama_column == 'Nama Mobil':
        valueDatatest = datatest[nama_column][0]
        distmink += np.power(np.power(np.abs(value_column - valueDatatest), t), 1/t) 

    return (data["Nama Mobil"], distmink) 

#Fungsi Rumus menghitung jarak Supremum
def supremum_distance(data, datatest):
    distsuprem = 0 
    hslsuprem = []
    for col in data.items():
      nama_column = col[0]
      value_column = col[1]
      if not nama_column == 'Nama Mobil':
        valueDatatest = datatest[nama_column][0]
        hslsuprem.append(np.fabs(value_column - valueDatatest)) 

    return (data["Nama Mobil"], max(hslsuprem))

In [112]:
#Output 3 terbaik Euclidean
euclidean = [] 
for index, row in df.iterrows() :
    result = euclidean_distance(row, datatest) 
    euclidean.append(result) 

sortedeuclidean = sorted(euclidean, key=lambda x: x[1])[:3] 
print("3 Rekomendasi Mobil Terbaik menggunakan Euclidean")
print(sortedeuclidean)

3 Rekomendasi Mobil Terbaik menggunakan Euclidean
[('Toyota Avanza', 2.449489742783178), ('Daihatsu Xenia', 2.75), ('Suzuki Ertiga', 3.2388269481403293)]

In [113]:
#Output 3 terbaik Manhattan
manhattan = [] # ini beda
for index, row in df.iterrows() :
    result = manhattan_distance(row, datatest)
    manhattan.append(result)

sortedmanhattan = sorted(manhattan, key=lambda x: x[1])[:3]
print("3 Rekomendasi Mobil Terbaik menggunakan Manhttan")
print(sortedmanhattan)

3 Rekomendasi Mobil Terbaik menggunakan Manhttan
[('Toyota Avanza', 2.0), ('Livina', 2.1), ('Suzuki Carry', 2.2)]

In [117]:
#Output 3 terbaik Minkowski
minkowski = []
for index, row in df.iterrows() :
    result = minkowski_distance(row, datatest, 2)
    minkowski.append(result)

sortedminkowski = sorted(minkowski, key=lambda x: x[1])[:3]
print("3 Rekomendasi Mobil Terbaik menggunakan Minkowski")
print(sortedminkowski)

3 Rekomendasi Mobil Terbaik menggunakan Minkowski
[('Toyota Avanza', 4.0), ('Daihatsu Xenia', 5.25), ('Suzuki Carry', 6.2)]

In [118]:
#Output 3 terbaik Supremum
supremum = []
for index, row in df.iterrows() :
    result = supremum_distance(row, datatest)
    supremum.append(result)

sortedsupremum = sorted(supremum, key=lambda x: x[1])[:3] 
print("3 Rekomendasi Mobil Terbaik menggunakan Supremum")
print(sortedsupremum)

3 Rekomendasi Mobil Terbaik menggunakan Supremum
[('Toyota Agya', 2.0), ('Daihatsu Alya', 2.0), ('Toyota Avanza', 2.0)]

In [120]:
#Membuat file excel
pd.DataFrame(sortedsupremum).to_excel('RekomendasiMobil2.xls', header=False, index = False)